In [15]:
import sqlite3 as sql
import pandas as pd

fileName = 'Data/pf_reviews.sqlite'

conn = sql.connect(fileName)

artists = pd.read_sql_query('SELECT * FROM artists', conn)
content = pd.read_sql_query('SELECT * FROM content', conn)
genres = pd.read_sql_query('SELECT * FROM genres', conn)
labels = pd.read_sql_query('SELECT * FROM labels', conn)
reviews = pd.read_sql_query('SELECT * FROM reviews', conn)
years = pd.read_sql_query('SELECT * FROM years', conn)

conn.close()

In [16]:
#Remove Duplicate Rows
for df in [artists, content, genres, labels, reviews, years]:
    df.drop_duplicates(inplace = True)

In [17]:
#Remove the 15 Reviews written in 2017
no_2017 = reviews[reviews.pub_year != 2017]['reviewid']
#Not using a for loop because of scoping
artists = artists[artists.reviewid.isin(no_2017)]
content = content[content.reviewid.isin(no_2017)]
genres = genres[genres.reviewid.isin(no_2017)]
labels = labels[labels.reviewid.isin(no_2017)]
reviews = reviews[reviews.reviewid.isin(no_2017)]
years = years[years.reviewid.isin(no_2017)]

In [18]:
artists.head()

    reviewid             artist
19     22719  chance the rapper
20     22719            jeremih
21     22667    jamire williams
22     22691          the-dream
23     22702     worm ouroboros

In [23]:
#Write to csv for further work

artists.to_csv('Data/artists.csv', index = False)
content.to_csv('Data/content.csv', index = False)
genres.to_csv('Data/genres.csv', index = False)
labels.to_csv('Data/labels.csv', index = False)
reviews.to_csv('Data/reviews.csv', index = False)
years.to_csv('Data/years.csv', index = False)